:root{
    --background-color1:#212529;
    --text-color1:white;
    --text-color2:#212529;
}
.background1{
    background-color: var(--background-color1);
    color:var(--text-color1);
}
.sub-heading-color{
    color:blue;
}
#section{
    padding-top:4rem;
}
#home-page-back-img{
    margin-top:180px;
    background-image:url(../images/images-for-html/rodan-znintsr46vlv41u1.jpg);
}
#header-back h1{
    background-color:white;
    color:var(--text-color2);
}
#godzilla-page-back-img{
    background-image: url(../images/images-for-html/godzilla-dominance-over-cityscape.jpg);
}
#king-ghidorah-page-back-img{
    background-image: url(../images/images-for-html/king-ghidorah);
}
#rodan-page-back-img{
    background-image: url(../images/images-for-html/rodan-1280-x-882-mkjzoe6324kfao20.webp);
}
.center-iframe{
    display:block;
    margin: 0 auto;
}
.padding1{
    padding-top: 4rem;
    color:var(--text-color1);
}
.padding2{
    padding-top: 1rem;
    color:var(--text-color1);
}
.padding3{
    padding-top:200px;
    padding-bottom:200px;
    border-bottom:100px;
    min-height: 1000px;
    min-width: 400px;
}
.table-1{
    background-color: var(--background-color1);
    color:var(--text-color1);
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.white-text{
    color:var(--text-color1);
}
.white-text >a{
    color:var(--text-color1);
}
header{
    position: absolute;
    width:100%;
}